<section id="feeds">
    <div class="title-filter">
        <div class="title text-color">feeds</div>
        <div class="filter-wrapper">
            <span class="filter-text">All</span>
            <span class="filter-text">Following</span>
            <span class="filter-text">Newest</span>
            <span class="filter-text">Popular</span>
        </div>
    </div>

    <div id="cards-wrapper">
        <div class="card" *ngFor="let feed of feeds; let i = index">
            <img class="card-photo" width="85%" height="85%" [src]="feed.photo" alt="feed photo">
            <div class="card-footer">
                <div>
                    <img class="margin-right-5 card-avatar" width="25" height="25" [src]="feed.avatar" alt="avatar">
                    <span class="feed-name text-color">{{ feed.name }}</span>
                </div>
                <div class="likes-comments">
                    <span (click)="onLike(i)" [class.liked]="feed.isLiked" class="margin-right-5 pointer">
                        <i class="fa-solid fa-heart"></i>
                        {{ feed.likes }}
                    </span>
                    <span class="pointer">
                        <i class="fa-sharp fa-solid fa-comment-dots"></i>
                        {{ feed.comments }}
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>