<p class="latest-activity-title">Latest Post Activity</p>

<div class="activity-card">
    <div class="flex-between-wrapper">
        <div class="post-image-container">
            <img class="post-image" width="110" height="90"
                src="https://img.freepik.com/free-vector/green-gradient-wavy-background_23-2149140692.jpg"
                alt="post photo">
        </div>
        <div>
            <p class="post-title">
                Minimalist Stairs
            </p>
            <div class="counts-wrapper">
                <span class="margin-right-5 pointer liked-post">
                    <i class="fa-solid fa-heart"></i>
                    27
                </span>
                <span class="margin-right-5 pointer">
                    <i class="fa-sharp fa-solid fa-comment-dots"></i>
                    12
                </span>
                <span class="pointer">
                    <i class="fa-solid fa-bookmark"></i>
                    8
                </span>
            </div>
        </div>
    </div>
    <div class="see-all-posts">
        <p class="pointer">See All Posts</p>
    </div>
</div>